
/*--- Header ---*/
#field-header {
	width: 500px;
}

/*--- on My Report page ---*/
.bg-red-400 {
	background-color: rgba(213, 134, 121, 1);
}

.bg-blue {
	background-color: #1ac6ff;
	border-color: #1ac6ff;
  	color: #fff;
}

#our-process-panel {
	margin-right: 10px;
	margin-left: 10px;
}

.navbar-inverse {
	background-color: #424353;
	border-color: #424353;
}

.border-top-primary {
	border-top-color: #1ac6ff;
}

.text-green {
	color: #51D7BF;
}

.text-red {
	color: #F07267;
}

.btn-primary {
	background-color: #1ac6ff;
	border-color: #1ac6ff;
}

.btn-danger {
    background-color: #F07267;
    border-color: #F07267;
}

/*-- Labels ---*/
.label-danger {
  background-color: #F07267;
  border-color: #F07267;
}

.label-success {
  background-color: #51D7BF;
  border-color: #51D7BF;
}

.label-primary {
    background-color: #1ac6ff;
	border-color: #1ac6ff;
}

.inline-label {
    margin-left: 15px;
}

.label-icon.label-flat {
    padding: 6px 9px;
    font-size: 18px;
}

/*-- Your Reports Page --*/

.media-right {
    vertical-align: middle;
}

.label-trillscore {
    font-size: 14px;
    border-color: #1ac6ff;
    color: #1ac6ff;
}

.bg-success-400 {
  background-color: #51D7BF;
  border-color: #51D7BF;
}

.progress-bar-danger {
  background-color: #F07267;
  border-color: #F07267;
}

.progress {
    margin-top: 4px;
}

/*-- Text on Your Reports Page --*/
a {
  color: #333333;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #535353;
  text-decoration: none;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

